body {
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 7rem 10px auto auto;
    grid-template-rows: auto auto auto;
    background-color: #3f3f3f;
    color: white;
    padding-left: 10px;
}

h1 {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

span {
    color: red;
}

p {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

section {
    text-align: center;
}